@font-face {
    font-family: 'zombies';
    src: url('../fonts/zombies_reborn-webfont.woff2') format('woff2'),
         url('../fonts/zombies_reborn-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

html, body {
    margin: 0;
    padding: 0;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container {
    background-image: url(../img/Inicio.png);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#startButton {
    padding: 10px 25px 10px 25px;
    background-color: white;
    color: red;
    font-family: 'zombies';
    font-size: 50px;
    border-radius: 10px;
}

#startButton:hover {
    color: white;
    background-color: red;
    border: red;
}

canvas {
    padding: 0;
    margin: auto;
    display: block;
    width: 1400px;
    height: 700px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
